/* lineChart */
.lineChartWrapper {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: auto;
  padding-bottom: 1rem;
}
.lineChart {
  width: 100%;
}
.timeline {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.timeline > span {
  position: relative;
  width: 100%;
  font-size: 0.5rem;
  text-align: end;
}
.timeline > span:last-child {
  visibility: hidden;
}

.minPoint::before {
  content: attr(data-content);
  position: absolute;
  bottom: 300%;
  left: 50%;
  transform: translateX(-20%);
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
}
.maxPoint::before {
  content: attr(data-content);
  position: absolute;
  bottom: 600%;
  left: 50%;
  transform: translateX(-20%);
  font-size: 1rem;
  text-align: center;
}
@media screen and (min-width: 1750px) {
  .lineChartWrapper {
    width: 60rem;
  }

  .minPoint::before {
    bottom: 400%;
    transform: translateX(0%);
    font-size: 1.2rem;
  }
  .maxPoint::before {
    bottom: 1200%;
    transform: translateX(0%);
    font-size: 1.2rem;
  }
}
/* @media screen and (max-width: 1100px) {
  .lineChartWrapper {
    width: 30rem;
  }

  .minPoint::before {
    bottom: 100%;
    transform: translateX(-30%);
    font-size: 0.8rem;
  }
  .maxPoint::before {
    font-size: 0.8rem;
  }
} */
