* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  box-sizing: border-box;
}
.pageContainer {
  display: flex;
  height: 100vh;
}
.searchContainer {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(212, 212, 212, 0.5);
  backdrop-filter: blur(10px);
  z-index: 100;
  /* opacity: 0.2; */
  /* display: flex; */
  display: none;
  padding-top: 3rem;
}
.searchSection {
  flex: 7;
  color: black;
}
.iconSection {
  background-color: rgba(212, 212, 212, 0.5);
  backdrop-filter: blur(10px);
  z-index: 100;
}
.searchBar {
  width: 80%;
  margin: auto;
  position: relative;
}
.searchText {
  width: 100%;
  min-height: 3rem;
  border-radius: 0.7rem;
  border: none;
  padding: 0.5rem;
  color: black;
}
.searchIcon {
  position: absolute;
  top: 0%;
  right: 3%;
  bottom: 0%;
  padding-top: 0.8rem;
  border: none;
  color: lightgray;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.menuIcon {
  font-size: 3rem;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

/* display*/
.displayContainer {
  flex: 2;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 100%;
}

.localDateTime {
  text-align: right;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.location {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
}

.country {
  padding-left: 1rem;
}
.currentWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.currentTemperature {
  font-size: 10rem;
  font-weight: 700;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 100) 0%,
    rgba(255, 255, 255, 20) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  line-height: 9rem;
  z-index: 1;
}
.currentImage {
  position: relative;
  width: 20rem;
  height: 16rem;
}
.currentText {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  opacity: 0.7;
}

.currentExtraInformation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
}
.currentExtraInformation > div {
  margin: 1rem;
  text-align: center;
}
